<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<link th:href="@{/static/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/static/jquery/jquery-1.11.1-min.js}"></script>
	<script type="text/javascript" th:src="@{/static/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
		$(function () {
			//给整个浏览器窗口添加键盘按下事件
			$(window).keydown(function (e){
				//如果按的时回车键，则提交登录请求
				if (e.keyCode == 13){
					$("#loginBtn").click();//模拟一次单击事件
				}
			});
				//登录事件,绑定事件
				$("#loginBtn").click(function () {
					//收集参数
					var loginAct = $.trim($("#loginAct").val());
					var loginPwd = $.trim($("#loginPwd").val());
					var isRemPwd = $.trim($("#isRemPwd").prop("checked"));

					if (loginAct==""){
						alert("用户名不能为空");
						return;
					}
					if (loginPwd==""){
						alert("密码不能为空");
						return;
					}

					//显示正在验证
					// $("#msg").text("正在验证，请稍后...");

					// $("#msg").html("<font color='green'>正在努力验证...<font/>");
					//发送请求
					//发送请求,异步请求(局部刷新),同步请求会提交整个表单进行全局刷新，这里用异步请求
					$.ajax({
						url:'login.do',
						data:{
							loginAct:loginAct,
							loginPwd:loginPwd,
							isRemPwd:isRemPwd
						},
						type:'post',
						// 返回类型为json
						dataType:'json',
						success:function (data) {
							if (data.code == "1"){
								//登录成功 -> 跳转到业务页面
								//这里的thymeleaf语法，在js中使用thymeleaf拼接uri， 引擎直接解析？  直接
								window.location.href="[[${#request.getContextPath()}]]/workbench/index.do";
							}else {
								//登录失败，显示提示信息
								$("#msg").html("<font color='red'>"+data.message+"</font>");
							}
						},
						beforeSend:function (){//当ajax向后台发送请求之前，会自动执行本函数
							//该函数的返回值能决定ajax是否真正向后台返送请求。
							//如果该函数返回true，则ajax会真正向后台发送请求，否则，如果该函数返回false，则ajax放弃向后台发请求
							//验证参数
							// if (loginAct==""){
							// 	alert("用户名不能为空");
							// 	return false;
							// }
							// if (loginPwd==""){
							// 	alert("密码不能为空");
							// 	return false;
							// }
							// return true;

							$("#msg").text("正在验证，请稍后...");
							return true;
						}
					});
			});
		});
	</script>

</head>
<body>
	<div style="position: absolute; top: 0px; left: 0px; width: 60%;">
		<img th:src="@{/static/image/IMG_7114.JPG}" style="width: 100%; height: 90%; position: relative; top: 50px;">
	</div>
	<div id="top" style="height: 50px; background-color: #3C3C3C; width: 100%;">
		<div style="position: absolute; top: 5px; left: 0px; font-size: 30px; font-weight: 400; color: white; font-family: 'times new roman'">CRM &nbsp;<span style="font-size: 12px;">&copy;2019&nbsp;动力节点</span></div>
	</div>
	
	<div style="position: absolute; top: 120px; right: 100px;width:450px;height:400px;border:1px solid #D5D5D5">
		<div style="position: absolute; top: 0px; right: 60px;">
			<div class="page-header">
				<h1>登录</h1>
			</div>
			<form action="../../../workbench/index.html" class="form-horizontal" role="form">
				<div class="form-group form-group-lg">
					<div style="width: 350px;" >
						<input class="form-control" id="loginAct" type="text"  placeholder="用户名">
<!--						<input class="form-control" id="loginAct" type="text"-->
<!--							   th:each="cookie : ${#httpServletRequest.getCookies()}"-->
<!--							   th:if="${cookie.getName().equals('loginAct')}"-->
<!--							   th:text="${cookie.getName().equals('loginAct') ? cookie.getValue() : ${''}}"-->
<!--							   placeholder="用户名">-->

					</div>
					<div style="width: 350px; position: relative;top: 20px;">
						<input class="form-control" id="loginPwd" type="password"  placeholder="密码">
<!--						<input class="form-control" id="loginPwd" type="text"-->
<!--							   th:each="cookie : ${#httpServletRequest.getCookies()}"-->
<!--							   th:if="${cookie.getName().equals('loginPwd')}"-->
<!--							   th:text="${cookie.getValue()}"-->
<!--							   placeholder="密码">-->
					</div>

					<div class="checkbox"  style="position: relative;top: 30px; left: 10px;">
						<label>
							<input type="checkbox" id="isRemPwd"> 十天内免登录
						</label>
						&nbsp;&nbsp;
						<span id="msg"></span>
					</div>
					<button type="button" id="loginBtn" class="btn btn-primary btn-lg btn-block"  style="width: 350px; position: relative;top: 45px;">登录</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>